h1 {
  color: #4A8E57;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  margin-top: 25px;
}

body {
  background-color: #BBC9B2 
}

h2 {
  color: #4A8E57;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}


p {
  color: #404A3A;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}

.fancy {
  font-variant-caps: small-caps;
  font-weight: 10px;
}

.wrap {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar {
  float: right;
  background-color: #5C9E76;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.column_1 {
  float: left;
  width: 33.3333%;
  padding-right: 10px;
  padding-left: 10px;
}

.column_2 {
  width: 33.3333%;
  float: right;
  padding-right: 10px;
  padding-left: 10px;
}

.border {
  border: 2px solid #C4F0AE;
  margin: 8px;
}

.background {
  background-color: #A6B2A0;
}